<div class='navbar fixed-bottom navbar-light bg-light'>
    <div class='col'>
        Founders: Adam, Josh, Marina, Nico <a href='https://github.com/mako-2021/golfcoin'>
            <i class="fab fa-github"></i></a>
        <br />
        <a class='golfcoin' href='#'><strong>GolfCoin.org</strong></a>


    </div>
</div>