<div class='navbar fixed-bottom navbar-light bg-light'>
    <div class='col'>
        Founders: Adam, Josh, Marina, Nico
        <br />
        GolfCoin.org
        <br />
        <a href='#'>Our GitHub link here</a>
    </div>
</div>