<div class='header'>

    <div class='row'>
        <div class='col'>
            <i class="fas fa-golf-ball"></i>
        </div>

        <div class='col'>
            <h3> GolfCoin Presents<h3>
                    <h1 class='title'>MADLIBS</h1>
        </div>

        <div class='col'>
            <i class="fab fa-bitcoin"></i>
        </div>

    </div>

</div>