<div class='header'>

    <div class='row'>
        <div class='col'>
            <i class="fas fa-golf-ball"></i>
        </div>
        <div class='col'>
            <h3> GolfCoin Presents<h3>
        <a class="homebutton" href="/stories"><h1 class='title'>MADLIBS</h1></a>
        </div>
        <div class='col'>
            <i class="fab fa-bitcoin"></i>
        </div>

    </div>

</div>