<div class="story">
    <form action=" /stories/{{id}}" method="post">
        <p>
            <input type="text" name="option1" value="option1"> is under my bed! I think it's going to <input type="text"
                name="option2" value="option2">Someone
            please <input type="text" name="option3" value="option3">!"
        </p>
    </form>
    <input type="submit" name="" value="Submit">
</div>