<div class="story3">
    <form action=" /stories/{{id}}" method="post">
        <p class="white">
            "A humble adventurer named <input type="text" name="option1" value="option1"> went on a small journey to
            find <input type="text" name="option2" value="option2">. Later came across <input type="text" name="option3"
                value="option3">and it was not what they expected!"
        </p>
        <input type="submit" name="" value="Submit">
    </form>
</div>