<div class="story2">
    <form action=" /stories/{{id}}" method="post">
        <p class="white">
            "A start up madlib I just saw in case this is interesting: My company <input type="text" name="option1"
                value="option1"> is developing <input type="text" name="option2" value="option2"> to help <input
                type="text" name="option3" value="option3">"
        </p>

        <input type="submit" name="" value="Submit">
    </form>
</div>