<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Golfcoin - Mablibs</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="body">
        <h1 class="title"> ====> Golfcoin presents ===><br />
            *** Mablibs ***</h1>
        {{header}}
        {{{body}}}
        {{footer}}
    </div>
</body>

</html>