<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Golfcoin - Mablibs</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="app">
        <h1 class="title">Golfcoin - Mablibs</h1>
        <a class="nav" href="/">Home</a>
        {{{body}}}
    </div>
</body>

</html>